<ion-view view-title="About">
  <ion-content>
	<div class="card">
	  <div class="item item-divider">
	    Basculando App by Carmaco Labs
	  </div>
	  <div class="item item-text-wrap">
	    It all started as a game and ended like a real app. Hope you find it useful.
	  </div>
	</div>

	<div class="card">
	  <div class="item item-divider">
	    Credits
	  </div>
	  <div class="item item-text-wrap">
	    Avatar and App Icons Designed by <a href="http://www.freepik.com" target="_blank">Freepik</a> and distributed by <a href="http://www.flaticon.com" target="_blank">Flaticon</a>
	  </div>
	</div>

	<div class="card">
	  <div class="item item-avatar">
	    <img ng-src="https://basculando.herokuapp.com/images/avatar03.png">
    	<h2>Created by OPM</h2>
    	<p>@ Carmaco Labs</p>
	  </div>
	</div>

  </ion-content>
</ion-view>