<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Select Avatar</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeAvatar()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar01.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar01.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar02.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar02.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar03.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar03.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar04.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar04.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar05.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar05.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar06.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar06.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar07.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar07.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar08.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar08.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar09.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar09.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar10.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar10.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar11.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar11.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar12.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar12.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar13.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar13.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar14.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar14.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar15.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar15.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar16.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar16.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar17.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar17.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar18.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar18.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar19.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar19.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar20.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar20.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar21.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar21.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar22.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar22.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar23.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar23.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar24.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar24.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar25.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar25.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar26.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar26.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar27.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar27.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar28.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar28.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar29.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar29.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar30.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar30.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar31.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar31.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar32.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar32.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar33.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar33.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar34.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar34.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar35.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar35.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar36.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar36.png" width="100%"></div>
</div>
<div class="row">
<div class="col col-25" ng-click="selectAvatar('avatar37.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar37.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar38.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar38.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar39.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar39.png" width="100%"></div>
<div class="col col-25" ng-click="selectAvatar('avatar40.png')"><img ng-src="https://basculando.herokuapp.com/images/avatar40.png" width="100%"></div>
</div>
  </ion-content>
</ion-modal-view>