<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Change Password</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeChangePassword()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="changeform" ng-submit="doChangePassword()">
      <div class="list">
        <label class="item item-input">
          <span ng-show="changeform.p1.$error.required"><i class="icon ion-alert-circled assertive"></i>&nbsp;</span>
          <span class="input-label">New Password</span>
          <input type="password" name="p1" ng-model="newPass.pass" required>
        </label>
        <label class="item item-input">
          <span ng-show="changeform.p2.$error.required || changeform.p1.$viewValue != changeform.p2.$viewValue"><i class="icon ion-alert-circled assertive"></i>&nbsp;</span>
          <span class="input-label">Confirm Password</span>
          <input type="password" name="p2" ng-model="newPass.confirm" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Change Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>