<div class="card" align="center" ng-if="!loggedIn">
  <div class="item item-text-wrap">
   You are not logged in.
   <br/><br/>
   Please
   <br/><br/>
   <button class="button button-full button-positive" ng-click="login()">Login</button>
   <br/>
   or
   <br/><br/>
   <button class="button button-full button-calm" ng-click="register()">Register</button>
   <br/>
   or
   <br/><br/>
   <button class="button button-full button-royal" ng-click="resetPassword()">Forgot Password</button>
  </div>
</div>