<ion-view view-title="Who see me?">
  <ion-nav-buttons side="secondary">
    <div class="buttons" ng-if="loggedIn">
      <button class="button button-icon icon ion-close" ng-click="close()"></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <div class="item item-divider">Pending</div>
      <ion-item ng-if="!numPending">
        <p>No pending invitations</p>
      </ion-item>
      <ion-item ng-repeat="friend in allFriends | filter : {pending : true}">
        <div class="row">
          <div class="col col-15" align="left"><button class="button button-small icon ion-close-round button-assertive" ng-click="deny(friend.id, friend.username)"></button></div>
          <div class="col col-70" align="left">
            <h1>
              <img ng-if="friend.male" ng-src="https://weight-control.herokuapp.com/images/boy.png" width="30">
              <img ng-if="!friend.male" ng-src="https://weight-control.herokuapp.com/images/girl.png" width="30">
              {{friend.username}}
            </h1>
          </div>
          <div class="col col-15" align="right">
            <button class="button button-small icon ion-checkmark-round button-balanced" ng-click="accept(friend.id, false)"></button>
          </div>
        </div>
      </ion-item>
      <div class="item item-divider">Connected</div>
      <ion-item ng-if="!numFriends">
        <p>No connected friends</p>
      </ion-item>
      <ion-item ng-if="numFriends">
        <div align="right"><small>Can weight you?</small></div>
      </ion-item>
      <ion-item ng-repeat="friend in allFriends | filter : {pending : false}">
        <div class="row">
          <div class="col col-15" align="left"><button class="button button-small icon ion-close-round button-assertive" ng-click="deny(friend.id, friend.username)"></button></div>
          <div class="col col-70" align="left">
            <h1>
              <img ng-if="friend.male" ng-src="https://weight-control.herokuapp.com/images/boy.png" width="30">
              <img ng-if="!friend.male" ng-src="https://weight-control.herokuapp.com/images/girl.png" width="30">
              {{friend.username}}
            </h1>
          </div>
          <div class="col col-15" align="right">
            <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="friend.write" ng-change="accept(friend.id, friend.write)">
               <div class="track">
                 <div class="handle"></div>
               </div>
            </label>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
