<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Forgot Password</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeReset()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card" align="center">
      <div class="item item-text-wrap">
       <p>Enter the username you want to reset. An email will be sent to the email provided for that user with instructions to reset the password.</p>
      </div>
    </div>
    <form name="resetForm" ng-submit="doResetPassword()">
      <div class="list">
        <label class="item item-input">
          <span ng-show="resetForm.username.$error.required"><i class="icon ion-alert-circled assertive"></i>&nbsp;</span>
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="reset.username" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Reset Password</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>