<ion-view view-title="Profile">
  <ion-nav-buttons side="secondary">
    <div ng-if="user.write" class="buttons" ng-if="loggedIn">
      <button class="button button-icon icon ion-edit" ng-click="editProfile(user.id)"></button>
    </div>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="spinner" align="center">
      <br/><br/>
      <ion-spinner icon="lines" class="spinner-assertive"></ion-spinner>
    </div>
    <div ng-if="!spinner" ng-include src="'templates/logRegRes.html'"></div>
    <div class="list card" ng-if="loggedIn">

      <div class="item item-avatar">
        <img ng-src="https://basculando.herokuapp.com/images/{{user.avatar}}">
        <h2>{{user.username}}</h2>
        <p>BMI {{user.imc | number : 2}}
           <span ng-if="!user.percentil" class="badge badge-assertive">{{user.imcdescription}}</span>
           <span ng-if="user.percentil" class="badge badge-assertive">P {{user.percentil}}</span>
        </p>
      </div>

      <div class="item item-body" align="center">
        <div class="row">
          <div class="col col-33"><strong><i class="icon ion-speedometer"> {{user.weight | number : 2}} Kg</i></strong></div>
          <div class="col col-33"><i class="icon ion-flag"> {{user.goal | number : 2}} Kg</i></div>
          <div class="col col-33" ng-if="user.weight <= user.goal"><i class="icon ion-arrow-down-c"> {{user.goal - user.weight | number : 2}} Kg</i></div>
          <div class="col col-33" ng-if="user.weight > user.goal"><i class="icon ion-arrow-up-c"> {{user.weight - user.goal | number : 2}} Kg</i></div>
        </div>
      </div>
      <div class="item item-body" align="center">
        <div class="row">
          <div class="col col-33"><i class="icon ion-location"> {{user.reference.weight | number : 2}} Kg</i></div>
          <div class="col col-33"><i class="icon ion-arrow-graph-up-right"> {{user.reference.diff | number : 2}} Kg</i></div>
          <div class="col col-33"><i class="icon ion-calendar"> {{user.reference.days}} days</i></div>
        </div>
      </div>
    </div>

    <div class="list" ng-if="loggedIn">
      <form ng-if="user.write" ng-submit="addWeight()">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-speedometer placeholder-icon"></i>
          <input type="number" step="any" placeholder="New Weight" ng-model="newWeight.weight" required>
        </label>
        <button class="button button-small" type="submit">Add</button>
      </div>
      </form>

      <ul class="list" ng-if="loggedIn">
        <li class="item" ng-repeat="weight in weights | orderBy : '-date'">
          <div on-tap="onTap(weight.id)">
            <div class="row">
              <div class="col col-75">{{weight.date | date:'yyyy-MM-dd HH:mm'}}</div>
              <div class="col" align="right">
                <span ng-if="weight.reference" class="balanced"><strong>{{weight.weight | number : 2}}</strong> <small>Kg</small></span>
                <span ng-if="!weight.reference">{{weight.weight | number : 2}} <small>Kg</small></span>
              </div>
            </div>
            <div align="right"><small ng-if="weight.comments">{{weight.comments}}</small></div>
          </div>
        </li>
      </ul>
    </div>
  </ion-content>
</ion-view>