<ion-view view-title="Weight Control">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
  	<div class="card" align="center">
      <div class="item item-text-wrap">
	     {{wc}}
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="user in users" href="#/app/user/{{user.id}}" class="item-thumbnail-left">
        <img ng-if="user.male" ng-src="https://weight-control.herokuapp.com/images/boy.png">
        <img ng-if="!user.male" ng-src="https://weight-control.herokuapp.com/images/girl.png">
        <h1>{{user.username}}</h1>
        <h2><i class="icon ion-speedometer"></i> {{user.weight | number : 2}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon ion-flag"></i> {{user.goal | number : 2}}</h2>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item ng-repeat="weight in weights">
        {{weight}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
