<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Weight Detail</h1>
    <div class="buttons">
      <button class="button button-icon icon ion-close-round" ng-click="closeWeight()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="weightForm">
      <div class="list">
        <label class="item item-input">
          <span ng-show="weightForm.weight.$error.required || weightForm.weight.$error.number || weightForm.weight.$error.min || weightForm.heiweightght.$error.max"><i class="icon ion-alert-circled assertive"></i>&nbsp;</span>
          <span class="input-label">Weight (Kg)</span>
          <input type="number" name="weight" step="any" ng-model="weight.weight" min="1" max="180" required>
        </label>
        <label class="item item-input">
          <span ng-show="weightForm.date.$error.required"><i class="icon ion-alert-circled assertive"></i>&nbsp;</span>
          <span class="input-label">Date</span>
          <input type="date" name="date" ng-model="weight.date" required>
        </label>
        <label class="item item-input">
          <span ng-show="weightForm.time.$error.required"><i class="icon ion-alert-circled assertive"></i>&nbsp;</span>
          <span class="input-label">Time</span>
          <input type="time" name="time" ng-model="weight.date" required>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Comments</span>
          <textarea ng-model="weight.comments"></textarea>
        </label>

        <label class="item item-input">
        Reference&nbsp;&nbsp;<label class="toggle">
          <input type="checkbox" ng-model="weight.reference">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        </label>

        <label class="item item-input item-stacked-label" ng-show="weight.reference">
          <textarea ng-model="helpText"></textarea>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-click="updateWeight()">Update</button>
        </label>
      </div>
    </form>
    <label class="item">
      <button class="button button-block button-assertive" ng-click="deleteWeight(weight.id)">Delete this weight</button>
    </label>
  </ion-content>
</ion-modal-view>